/* General style */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

.content-wrapper {
    position: relative;
    height: 100vh;
}

.title {
    display: block;
    padding: 0;
}

.subtitle {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.description {
    line-height: 1.6;
}

.user-input {
    position: relative;
}
.user-beverage {
    display: block;
    border-width: 1.5px;
    border: solid black;
    height: 50px;
}
.search-coffee-btn {
    display: block;
    background: black;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    height: 50px;
}
.search-coffee-btn:hover {
    background: white;
    color: black;
    border: solid black;
    border-width: 1.5px;
}
::placeholder {
    color: black;
    font-weight: 300;
    opacity: 0.6;
    font-family: 'Work Sans', sans-serif;
}
input[type="text"] {
    color: black;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
.docs-footer a {
    text-decoration: none;
    color: black;
}

.docs-footer a:hover {
    color: grey;
}
/* End general style */

/* For small devices */
@media only screen and (max-width: 640px) {
    .wrapper {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-top: 3.5em;
    }
    .img-wrapper {
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .img-wrapper img {
        width: 90%;
        height: 35%;
        margin-top: 1.5em;
    }

    .title {
        font-size: 40px;
        margin-top: 0.7em;
        margin-bottom: 15px;
    }
    .subtitle {
        font-size: 24px;
    }
    .description {
        font-size: 16px;
        margin-bottom: 2em;
    }

    /* User input */
    .user-beverage {
        width: 100%;
    }
    .search-coffee-btn {
        font-size: 14px;
        padding: 10px 18px;
        height: 40px;
        margin-top: 20px;
    }

    input[type="text"] {
        padding-left: 12px;
        color: black;
        font-weight: 500;
        font-size: 12px;
    }

    ::placeholder {
        font-size: 14px;
    }

    .docs-footer {
        position: absolute;
        top: 2em;
    }
    .docs-footer a {
        font-size: 14px;
    }
}

/* For medium devices */
@media only screen and (min-width: 641px) and (max-width: 1199px) {
    .wrapper {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-top: 3.5em;
    }
    .img-wrapper {
        max-width: 60%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .img-wrapper img {
        width: 90%;
        height: 45%;
        margin-top: 2em;
    }

    .title {
        font-size: 40px;
        margin-top: 0.7em;
        margin-bottom: 15px;
    }
    .subtitle {
        font-size: 24px;
    }
    .description {
        font-size: 16px;
        margin-bottom: 2em;
    }

    /* User input */
    .user-beverage {
        width: 70%;
        display: inline-block;
    }
    .search-coffee-btn {
        display: inline-block;
        font-size: 16px;
        padding: 14px 22px;
        margin-left: 20px;
    }

    input[type="text"] {
        padding-left: 12px;
        color: black;
        font-weight: 500;
        font-size: 14px;
    }

    ::placeholder {
        font-size: 16px;
    }

    .docs-footer {
        position: absolute;
        top: 2em;
    }
    .docs-footer a {
        font-size: 14px;
    }
}


/* For large devices */
@media only screen and (min-width: 1200px) {
    .content-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .wrapper {
        width: 45%;
        margin: 8%;
        /* position: absolute; */
    }
    .img-wrapper {
        width: 45%;
        /* display: block; */
        top: 7em;
        right: 0;
        margin: 0;
        /* position: absolute; */
    }
    .img-wrapper img {
        width: 100%;
        height: 60%;
    }
    .title {
        font-size: 80px;
        margin-bottom: 20px;
    }
    .subtitle {
        font-size: 34px;
    }
    .description {
        font-size: 18px;
    }
    .user-beverage {
        width: 90%;
        margin-top: 2em;
    }
    .search-coffee-btn {
        font-size: 16px;
        padding: 14px 22px;
        margin-top: 20px;
    }
    ::placeholder {
        font-size: 16px;
    }
    input[type="text"] {
        padding-left: 15px;
        font-size: 16px;
    }
    .docs-footer {
        position: absolute;
        bottom: -6em;
    }
}

/* For very large devices */
@media only screen and (min-width: 1299px) {
    .content-wrapper {
        display: flex;
    }
    .wrapper {
        width: 45%;
        margin: 8%;
        /* position: absolute; */
    }
    .img-wrapper {
        width: 45%;
        /* display: block; */
        top: 0;
        right: 2em;
        margin: 0;
        /* position: absolute; */
    }
    .img-wrapper img {
        width: 100%;
        height: 65%;
    }
    .title {
        font-size: 80px;
        margin-bottom: 20px;
    }
    .subtitle {
        font-size: 34px;
    }
    .description {
        font-size: 18px;
    }
    .user-beverage {
        display: inline-block;
        /* width: 480px; */
        width: 60%;
        margin-top: 2em;
    }
    .search-coffee-btn {
        display: inline-block;
        font-size: 16px;
        padding: 14px 22px;
        margin-left: 20px;
    }
    ::placeholder {
        font-size: 16px;
    }
    input[type="text"] {
        padding-left: 15px;
        font-size: 16px;
    }
    .docs-footer {
        position: absolute;
        bottom: -10em;
    }
}



