<html lang="en">
<% include partials/head %>
<body>
    <h1>Unsplash API</h1>
    <a href="/auth" type="button">Sign in with Unsplash</a>
    <img src="<%= image[0].urls.small %>" alt="">
    <span><%= image[0].description%></span>
</body>
</html>




