<html lang="es">
    <% include partials/head %>
    <body>
        <div class="wrapper">
            <h1 class="title animated zoomIn">Welcome to <%= title %></h1>
            <a class="menu-btn animated fadeInUp" href="/api/products" type="button">SEE MENU</a>
        </div>
    </body>
</html>
