<html lang="en">
<% include partials/head %>
<body>
    <h1>Our Menu</h1>

    <div class="search-wrapper">
        <input type="text" class="search-name-field" placeholder="Search coffee...">
        <a href="/api/categories"><img src="/img/bars-solid.svg" width="30" height="20" alt="Hambuger menu"></a>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Size 1</th>
            <th>Size 2</th>
        </tr>
        <% for(let i = 0; i < products.length; i++) { %>
        <tr>
            <td>
                <%= products[i].product_name %> <br> <%= products[i].description %>
            </td>
            <% for(let j = 0; j < variantValues.length; j++) %>
                <% if (products[i].product_id = variantValues[i].product_id) { %>
                    <td> <%= variantValues[i].value_name %> <br> <%= variantValues[i].price %>  </td>
                <% } %>
            <% } %>
        </tr>
        <% } %>
    </table>
</body>
</html>




